.symbol {
}
.symbol:hover {
  background-color: azure;
  cursor: grab;
}
.symbol:active {
  background-color: aquamarine;
  cursor: grabbing;
}

.symbol_dir {
  width: 60px;
  height: 60px;
  background-color: #e91e6340;
  display: flex;
  justify-content: space-around;
}
.cell_image {
  width: 50%;
  height: 50%;
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.textBox{
  width: 100%;
  height: 60px;
  background-color: honeydew;
  font-size: 200%;
  text-align: center;
}